* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: "Martel Sans" , sans-serif ;
}

body {
    background-color: black ;
}


.main {
    height: 90vh ;
    background-image: url(img/BD-en-20260928-TRIFECTA-perspective_191aeb39-d622-47d3-a6a7-2e1af0f8325b_large.jpg);
    background-position: center center;
    background-repeat: no-repeat ;
    background-size: max( 100vw ,1600px);
    position: relative;
}

.main .box {
    position: absolute; 
    top: 0 ;
    height: 90vh ;
    width: 100% ;
    opacity: 0.7 ;
    background-color: black ;
}

nav {
    width: 60vw ;
    margin: auto ;
    height : 100px ;
    display: flex ;
    align-items: center ;
    justify-content: space-between;
}

.netflix-logo {
    z-index: 5;
    width: 135px;
}


nav button {
    z-index: 5 ;
}


.hero {
    width: 40%;
    padding: 30px ;
    text-align: center;
    margin: auto;
    font-size: 30px ;
    position: relative;
    height: calc(100% - 100px) ;
    color: white ;
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 20px ;
}

.hero> :first-child {
    line-height: 1.4;
    font-size: 58px ;
    font-weight: 900 ;
}

.hero> span:nth-of-type(2) {
    font-size: 20px ;
    font-weight: 800 ;
}

.hero> span:nth-of-type(3) {
    font-size: 16px ;
    font-weight:600 ;
}


.email-section {
    display: flex ;
    justify-content: center ;
    align-items: center;
    gap: 8px ;
}

.input {
    width: 23vw ;
    background-color: rgba(23 ,23, 23, .75);
    font-size: 15px ;
    color: white ;
    font-weight: 700 ;
    padding: .8vw 1vw .8vw 1vw  ;
    border: none ;
    border-radius: 5px ;
    border: 1px solid rgb(90, 78, 78);
}

.sign-in-btn {
    background-color: red ;
    color: white ;
    font-weight: bold ;
    padding: 4.5px 15px ;
    border: none ;
    border-radius: 5px ;
    cursor: pointer;
}

.get-started-btn {
    font-size: 1.2vw ;
    background: linear-gradient(to right,rgb(154, 38, 177),red) ;
    color: white ;
    font-weight: bold ;
    padding: .45vw .8vw ;
    border: none ;
    border-radius: 5px ;
    cursor: pointer;
}

.first {
    padding: 70px 0 ;
    width: 60vw ;
    margin: auto ;
}

.first> :first-child {
    color: white ;
    font-size: 30px ;
    font-weight: 900 ;
    padding: 10px 0 10 0 ;
}

.reasons {
    display: flex ;
    flex-wrap: wrap ;
    gap: 20px ;
}

.reasons-style {
    color: white ;
    background: linear-gradient(rgb(28, 12, 73),rgb(65, 19, 11));
    border-radius: 20px ;
    width: 14vw  ;
    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.1vw ;
    gap: 20px ;
}

.reasons-style :first-child {
    line-height: 1.2;
    font-size: 1.2vw  ;
    font-weight: 900 ;
}

.reasons-style :nth-child(2) {
    font-size: .84vw ;
    line-height: 1.2 ;
    color: rgb(128, 123, 128);
    font-weight: 700 ;
    padding-bottom: 3vw;
}


